<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- http://getbootstrap.com/docs/4.5/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- https://favicon.io/emoji-favicons/abacus -->
        <link href="/static/favicon.ico" rel="icon">

        <!-- Rampart One Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">

        <!-- http://getbootstrap.com/docs/4.5/ -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <!--<link rel="stylesheet" href="/static/operation.css">-->

        <style>
            /* code snippet from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
            /* makes the arrows in number type input tags invisible */
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }

        </style>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Custom JS File -->
        <script defer src="/static/exam.js"></script>

        <title>FunMaths: Exam</title>
    </head>

    <body>
        
        <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
            <div style="margin: auto; text-align: center;">
                <a style="font-size: 5em; font-family: 'Rampart One', cursive;" class="navbar-brand" href="/">FunMaths</a>
            </div>
        </nav>

        <div style="margin-top: 200px;"></div>

        <form>
            {% for index, info in infos %}
                <div style="height: 450px; width: 500px; margin: auto; background-color: {{ info['color'] }};" class="jumbotron">
                    <div id="content{{ index }}" style="margin: auto; width: fit-content;">
                        <b style="font-size: 5em;">
                            <span name="num1">{{ info['nums'][0] }}</span>
                            <span name="operator">{{ info['operator'] }}</span>
                            <span name="num1">{{ info['nums'][1] }}</span>
                        </b>
                    </div>
                    <div style="width: fit-content;">
                        <span style="font-weight: bold; font-size: 5em;"> = </span>
                        <input type="hidden" name="actual_answer" value="{{ info['answer'] }}">
                        <!-- only for division -->
                        {% if info["remainder"] or info["remainder"] == 0 %}
                            <p style="font-weight: bold; font-size: 5em;"> % </p>
                            <input type="hidden" name="actual_remainder" value="{{ info['remainder'] }}">
                            <input autofocus required name="answer" type="number" max="1998" style="width: 250px; background: transparent; border: none; outline: none; position: relative; left: 100px; top: -250px; font-size: 5em; font-weight: bold;">
                            <input autofocus required name="remainder" type="number" max="1998" style="width: 250px; background: transparent; border: none; outline: none; position: relative; left: 100px; top: -260px; font-size: 5em; font-weight: bold;">
                        {% else %}
                            <input autofocus required name="answer" type="number" max="1998" style="width: 250px; background: transparent; border: none; outline: none; position: relative; font-size: 5em; font-weight: bold;">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div style="width: fit-content; margin: auto; margin-top: 50px;">
                <button id="button" class="btn btn-primary" style="border-radius: 15%; font-size: larger; margin: auto;" type="submit">Submit Answers</button>
            </div>
        </form>

    </body>

</html>
