{% extends "layout.html" %}

{% block title%}{% endblock %}

{% block main %}

        <div class="container">
            <h1>Hello there!</h1>

            <h4>Start practicing mathematics with a fun approach!</h4>
        </div>

        <link rel="stylesheet" href="/static/symbols.css">

        <div id="symbols" class="container">
            <a href="/addition">
                <div id="plus">
                    <div class="symbol plus vert"></div>
                    <div class="symbol plus hor"></div>
                </div>
            </a>
            <a href="/subtraction">
                <div id="minus">
                    <div class="symbol minus vert"></div>
                </div>
            </a>
            <a href="/multiplication">
                <div id="cross">
                    <div class="symbol cross right"></div>
                    <div class="symbol cross left"></div>
                </div>
            </a>
            <a href="/division">
                <div id="division">
                    <div class="division up circle"></div>
                    <div class="division down circle"></div>
                    <div class="symbol division middle"></div>
                </div>
            </a>
        </div>

{% endblock %}