{% extends "layout.html" %}

{% block title%} | Profile: {{ user[1] }}{% endblock %}

{% block main %}

    <div style="text-align: left;" class="container-fluid">
        <table>
            <tr>
                <th>Username: </th>
                <td>{{ user[1] }}</td>
            </tr>
            <tr>
                <th>Email: </th>
                <td>{{ user[2] }}</td>
            </tr>
            <tr>
                <th>Birthday: </th>
                <td>{{ user[4] }}</td>
            </tr>
            <tr>
                <th>School: </th>
                <td>{{ user[5] }}</td>
            </tr>
            <tr>
                <th>Grade: </th>
                <td>{{ user[6] }}</td>
            </tr>
        </table>
    </div>

{% endblock %}
